# Initial data processing

The initial dataset has been output in a rather bulky Excel pivot-table approach, and will need some processing to be ready to use. While I could make edits directly in excel, I'm hoping this will evolve into something which includes a structured data repository, and for that reason I want to be able to process the spreadsheets in python directly from source.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set()

plt.figure(figsize=(16,6))
%matplotlib inline

data_loc = "./RawData/"
save_loc = "./ProcessedData/"

In [4]:
# Input the oil products breakdown sheet.

filename = "EuroStat_nrg_bal_c__oilProducts_1217174.xlsx"
sheet = "Sheet 1"

oilProducts = pd.read_excel(data_loc + filename, sheet_name=sheet, usecols="A:AE",skiprows=9)

oilProducts.head(10)

,TIME,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,SIEC (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Oil and petroleum products (excluding biofuel ...,374207.969,382444.375,380969.820,380781.043,378676.497,381054.299,394332.161,395646.481,404050.514,...,366111.796,355139.782,342124.789,338307.841,333517.190,338935.045,343188.930,345819.321,344614.846,345671.420
2,Crude oil,39.044,33.136,19.362,15.537,15.489,14.267,13.249,13.239,13.244,...,12.124,12.124,12.124,12.124,7.072,0.000,0.000,0.000,0.000,0.000
3,Natural gas liquids,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.181,0.000,2.363,3.544,4.725,7.088,7.088,6.717,13.246,25.130
4,Refinery gas,2548.698,2259.173,2317.825,2283.233,2651.189,2484.768,2371.938,2569.226,2675.733,...,3857.791,3397.974,3579.863,3271.802,3369.149,3454.971,3706.369,3683.889,3979.128,4074.133
5,Ethane,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6,Liquefied petroleum gases,16191.695,17401.391,16912.510,17166.216,17627.299,17422.526,18578.585,18539.319,18890.711,...,18038.681,17157.266,16750.657,16860.120,16178.775,16216.775,16607.702,16333.495,16933.436,16506.599
7,Naphtha,1782.029,1853.815,2416.487,2784.907,2601.940,2540.794,2540.627,2585.639,2702.828,...,1058.277,1166.858,1201.920,1453.684,1483.374,1507.456,1560.688,1279.519,1285.387,1033.269
8,Aviation gasoline,141.932,134.454,120.490,120.461,118.141,103.380,98.418,112.886,110.749,...,99.704,90.923,75.583,68.920,62.381,62.237,57.410,56.572,59.896,57.598
9,Motor gasoline (excluding biofuel portion),111717.939,112459.775,114687.151,114363.531,113879.666,113998.483,115107.224,114834.708,115500.891,...,76806.641,73858.372,69273.657,66862.040,66573.387,65299.992,65645.303,66005.867,66212.570,67651.710

In [5]:
oilProducts.tail(5)

,TIME,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
19,Bitumen,0,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,...,1.920,2.880,1.920,1.920,1.920,1.920,0.960,0.960,0.00,0.000
20,Other oil products n.e.c.,828.33,498.491,537.007,436.558,670.381,893.984,1228.13,1311.211,392.792,...,390.704,396.841,423.147,323.715,483.511,475.735,324.381,190.338,314.03,369.493
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# I can drop rows 0, 21, 22 and 23.
oilProducts = oilProducts.drop(index=[0,21,22,23], axis=0)
oilProducts

,TIME,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,Oil and petroleum products (excluding biofuel ...,374207.969,382444.375,380969.820,380781.043,378676.497,381054.299,394332.161,395646.481,404050.514,...,366111.796,355139.782,342124.789,338307.841,333517.190,338935.045,343188.930,345819.321,344614.846,345671.420
2,Crude oil,39.044,33.136,19.362,15.537,15.489,14.267,13.249,13.239,13.244,...,12.124,12.124,12.124,12.124,7.072,0.000,0.000,0.000,0.000,0.000
3,Natural gas liquids,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.181,0.000,2.363,3.544,4.725,7.088,7.088,6.717,13.246,25.130
4,Refinery gas,2548.698,2259.173,2317.825,2283.233,2651.189,2484.768,2371.938,2569.226,2675.733,...,3857.791,3397.974,3579.863,3271.802,3369.149,3454.971,3706.369,3683.889,3979.128,4074.133
5,Ethane,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6,Liquefied petroleum gases,16191.695,17401.391,16912.510,17166.216,17627.299,17422.526,18578.585,18539.319,18890.711,...,18038.681,17157.266,16750.657,16860.120,16178.775,16216.775,16607.702,16333.495,16933.436,16506.599
7,Naphtha,1782.029,1853.815,2416.487,2784.907,2601.940,2540.794,2540.627,2585.639,2702.828,...,1058.277,1166.858,1201.920,1453.684,1483.374,1507.456,1560.688,1279.519,1285.387,1033.269
8,Aviation gasoline,141.932,134.454,120.490,120.461,118.141,103.380,98.418,112.886,110.749,...,99.704,90.923,75.583,68.920,62.381,62.237,57.410,56.572,59.896,57.598
9,Motor gasoline (excluding biofuel portion),111717.939,112459.775,114687.151,114363.531,113879.666,113998.483,115107.224,114834.708,115500.891,...,76806.641,73858.372,69273.657,66862.040,66573.387,65299.992,65645.303,66005.867,66212.570,67651.710
10,Gasoline-type jet fuel,790.392,436.991,363.981,251.825,98.402,84.647,104.751,149.190,249.709,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
11,Kerosene-type jet fuel (excluding biofuel port...,4480.73,4612.410,4639.674,4637.564,4566.969,4631.183,4849.838,5070.790,5966.586,...,6364.948,6909.714,6504.047,6268.683,6257.126,6372.721,6564.183,6759.839,7037.769,7265.337
12,Other kerosene,1135.422,1130.438,1305.236,914.133,938.837,984.315,1117.414,1125.627,1197.552,...,1495.632,1211.241,1066.760,1081.500,973.284,1125.545,1180.982,1130.819,1212.116,1182.187
13,Gas oil and diesel oil (excluding biofuel port...,192966.941,201446.108,202296.676,204699.028,201013.451,205121.611,217444.813,216934.455,224549.805,...,241825.711,236273.297,230498.872,230912.543,227959.116,233535.163,237192.219,240828.668,238267.088,238727.716
14,Fuel oil,36493.565,35340.796,30658.536,28704.412,29567.095,27436.299,25172.960,25594.705,25206.001,...,8797.872,7833.662,6615.985,5887.670,5209.634,5438.284,5149.600,4750.041,4567.396,4099.604
15,White spirit and special boiling point industr...,0,0.000,2.981,3.045,3.045,1.015,2.030,2.030,5.075,...,12.894,10.933,11.995,12.303,15.926,16.621,19.580,17.956,17.725,21.973
16,Lubricants,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
17,Paraffin waxes,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
18,Petroleum coke,5091.249,4837.393,4691.903,4400.594,4924.590,5337.030,5702.179,6803.454,6588.843,...,7347.727,6817.700,6105.896,5287.275,4937.814,5420.539,5172.465,4774.640,4715.066,4656.673
19,Bitumen,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.920,2.880,1.920,1.920,1.920,1.920,0.960,0.960,0.000,0.000
20,Other oil products n.e.c.,828.33,498.491,537.007,436.558,670.381,893.984,1228.130,1311.211,392.792,...,390.704,396.841,423.147,323.715,483.511,475.735,324.381,190.338,314.030,369.493

In [7]:
# Let's check the data types. 
oilProducts.dtypes

TIME     object
1990     object
1991    float64
1992    float64
1993    float64
1994    float64
1995    float64
1996    float64
1997    float64
1998    float64
1999    float64
2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
dtype: object

In [8]:
# So to tidy this up we need to:
# a. change column "1990" to float46
# b. rename column "TIME" to "SIEC_labels"
# c. reset the index so we get our 0 row back.

oilProducts["1990"] = oilProducts["1990"].astype("float")
oilProducts = oilProducts.rename(columns = {'TIME':'SIEC_Labels'})
oilProducts = oilProducts.reset_index(drop=True)

oilProducts.head()

,SIEC_Labels,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Oil and petroleum products (excluding biofuel ...,374207.969,382444.375,380969.820,380781.043,378676.497,381054.299,394332.161,395646.481,404050.514,...,366111.796,355139.782,342124.789,338307.841,333517.190,338935.045,343188.930,345819.321,344614.846,345671.420
1,Crude oil,39.044,33.136,19.362,15.537,15.489,14.267,13.249,13.239,13.244,...,12.124,12.124,12.124,12.124,7.072,0.000,0.000,0.000,0.000,0.000
2,Natural gas liquids,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,1.181,0.000,2.363,3.544,4.725,7.088,7.088,6.717,13.246,25.130
3,Refinery gas,2548.698,2259.173,2317.825,2283.233,2651.189,2484.768,2371.938,2569.226,2675.733,...,3857.791,3397.974,3579.863,3271.802,3369.149,3454.971,3706.369,3683.889,3979.128,4074.133
4,Ethane,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [9]:
# I think I'll transpose this so I have the years as a column.
oilProducts = oilProducts.transpose().reset_index()

oilProducts.columns = oilProducts.iloc[0]
oilProducts = oilProducts.rename(columns = {'SIEC_Labels':'Year'})
oilProducts = oilProducts.drop(index=[0], axis=0)

oilProducts = oilProducts.reset_index(drop=True)

oilProducts.head()

,Year,Oil and petroleum products (excluding biofuel portion),Crude oil,Natural gas liquids,Refinery gas,Ethane,Liquefied petroleum gases,Naphtha,Aviation gasoline,Motor gasoline (excluding biofuel portion),...,Kerosene-type jet fuel (excluding biofuel portion),Other kerosene,Gas oil and diesel oil (excluding biofuel portion),Fuel oil,White spirit and special boiling point industrial spirits,Lubricants,Paraffin waxes,Petroleum coke,Bitumen,Other oil products n.e.c.
0,1990,374207.969,39.044,0.0,2548.698,0.0,16191.695,1782.029,141.932,111717.939,...,4480.73,1135.422,192966.941,36493.565,0.0,0.0,0.0,5091.249,0.0,828.33
1,1991,382444.375,33.136,0.0,2259.173,0.0,17401.391,1853.815,134.454,112459.775,...,4612.41,1130.438,201446.108,35340.796,0.0,0.0,0.0,4837.393,0.0,498.491
2,1992,380969.82,19.362,0.0,2317.825,0.0,16912.51,2416.487,120.49,114687.151,...,4639.674,1305.236,202296.676,30658.536,2.981,0.0,0.0,4691.903,0.0,537.007
3,1993,380781.043,15.537,0.0,2283.233,0.0,17166.216,2784.907,120.461,114363.531,...,4637.564,914.133,204699.028,28704.412,3.045,0.0,0.0,4400.594,0.0,436.558
4,1994,378676.497,15.489,0.0,2651.189,0.0,17627.299,2601.94,118.141,113879.666,...,4566.969,938.837,201013.451,29567.095,3.045,0.0,0.0,4924.59,0.0,670.381

In [10]:
oilProducts.dtypes

0
Year                                                         object
Oil and petroleum products (excluding biofuel portion)       object
Crude oil                                                    object
Natural gas liquids                                          object
Refinery gas                                                 object
Ethane                                                       object
Liquefied petroleum gases                                    object
Naphtha                                                      object
Aviation gasoline                                            object
Motor gasoline (excluding biofuel portion)                   object
Gasoline-type jet fuel                                       object
Kerosene-type jet fuel (excluding biofuel portion)           object
Other kerosene                                               object
Gas oil and diesel oil (excluding biofuel portion)           object
Fuel oil                                                     object
White spirit and special boiling point industrial spirits    object
Lubricants                                                   object
Paraffin waxes                                               object
Petroleum coke                                               object
Bitumen                                                      object
Other oil products n.e.c.                                    object
dtype: object

In [11]:
for col in oilProducts.columns:
    oilProducts[col] = pd.to_numeric(oilProducts[col], errors='coerce')
    
oilProducts.dtypes

0
Year                                                           int64
Oil and petroleum products (excluding biofuel portion)       float64
Crude oil                                                    float64
Natural gas liquids                                          float64
Refinery gas                                                 float64
Ethane                                                       float64
Liquefied petroleum gases                                    float64
Naphtha                                                      float64
Aviation gasoline                                            float64
Motor gasoline (excluding biofuel portion)                   float64
Gasoline-type jet fuel                                       float64
Kerosene-type jet fuel (excluding biofuel portion)           float64
Other kerosene                                               float64
Gas oil and diesel oil (excluding biofuel portion)           float64
Fuel oil                                                     float64
White spirit and special boiling point industrial spirits    float64
Lubricants                                                   float64
Paraffin waxes                                               float64
Petroleum coke                                               float64
Bitumen                                                      float64
Other oil products n.e.c.                                    float64
dtype: object

In [12]:
oilProducts.to_csv(save_loc + "OilProductData_EU_1990-2019.csv", index=False)